<div id="contenuti" ng-controller="ContenutiController as contenuti">

    <!-- NAV BAR -->
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <p class="font-bold font-medium color-mid-grey" style="margin-bottom:0">{{contenuti.current_state.title | uppercase}}</p>
            <p class="font-bold font-medium" style="color: {{contenuti.city.assets_color}}">{{contenuti.city.ds_name | uppercase}} SMART</p>
        </div>
    </div>

    <!------------- body content ---------->

    <div class="row page_content">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label class="font-small color-grey">CANALE</label>
                        <ui-select class="community-ui-select" ng-model="contenuti.channelSelected">
                            <ui-select-match placeholder="Seleziona...">{{$select.selected.ds_name}}</ui-select-match>
                            <ui-select-choices repeat="channel in contenuti.channels | filter: $select.search track by $index">
                                <span ng-bind="channel.ds_name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label class="font-small color-grey">CATEGORIA</label>
                        <ui-select class="community-ui-select" ng-model="contenuti.categorySelected">
                            <ui-select-match placeholder="Seleziona...">{{$select.selected.ds_name}}</ui-select-match>
                            <ui-select-choices repeat="cat in contenuti.categories | filter: $select.search track by $index">
                                <span ng-bind="cat.ds_name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="form-group">
                        <label class="font-small color-grey" style="white-space:nowrap;">DATA PUBBLICAZIONE</label>
                        <ui-select class="community-ui-select" ng-model="chooseCity.city_selected">
                            <ui-select-match placeholder="Seleziona..."></ui-select-match>
                            <ui-select-choices ng-repeat="i in []">
                                <span ng-bind="i.ds_name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <button ladda="contenuti.options.articleWorking()" class="btn btn-grey btn-block" ng-click="contenuti.applyFilters()">
                        APPLICA&nbsp;&nbsp;&nbsp;<span class="lsf">right</span></button>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                    <div class="row border-bottom-grey" style="padding-left: 0px;margin-left: 0px;">
                        <div class="col-lg-11 col-sm-11 col-md-10 col-xs-10" >
                            <span class="search-icon lsf">search</span>
                            <input class="form-control search-input" placeholder="Cerca in tutti i post" ng-model="contenuti.options.textToSearch" type="text">
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                    <button ladda="contenuti.options.searchWorking" class="btn btn-grey btn-block" style="margin-top: 0;" ng-click="contenuti.searchText()">
                        CERCA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lsf">right</span></button>
                </div>
            </div>


            <!--------- list ---------->

            <br/>
            <br/>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                    <!---------- ELEMENT ---------->
                    <div class="row" ng-repeat="article in contenuti.articles | limitTo:contenuti.options.pager.limit:-(contenuti.options.pager.active*contenuti.options.pager.limit)">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                            <div class="row">
                                <!------------- FIRST COL [article description]--------->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <img ng-src="{{contenuti.channelService.byId(article.id_channel).iconImageUrl()}}" width="35px"/>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-padding">
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="font-bold no-padding no-margin">{{contenuti.channelService.byId(article.id_channel).name()}}</p>
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="font-small no-padding color-mid-grey no-margin"> in {{contenuti.categoryService.byId(article.id_category).ds_name | uppercase}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-small padding-top-5">{{article.abstract()}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!------------- SECOND COL [article title]--------->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-bold no-padding no-margin">&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="color-grey font-small no-padding no-margin">ARTICOLO</p>
                                        </div>
                                    </div>

                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-medium font-bold roboto-slab-bold padding-top-5">{{article.title()}}</p>
                                        </div>
                                    </div>
                                </div>

                                <!------------- THIRD COL [pubblication date]--------->
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-bold no-padding no-margin">&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="color-grey font-small no-padding no-margin">PUBBLICAZIONE</p>
                                        </div>
                                    </div>

                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xa-12">
                                            <p ng-if="article.dt_publication_date" class="font-medium padding-top-5">{{article.publishDate() | date:'dd-MM-yyyy'}}</p>
                                            <p ng-if="!article.dt_publication_date" class="font-medium padding-top-5 font-bold"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
                                    <img ng-if="article.showAlertIcon()"  src="app/assets/images/alert.jpg"  style="margin-top:20px;"/>
                                </div>
                                <!------------- FOUR COL [image]--------->
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <img class="img-preview-article bgcolor-grey"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <br />
                                <div class="bgcolor-light-grey" style="height: 2px;" ></div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---- END LIST --------->

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- Single button -->
                    <div class="btn-group pull-right" uib-dropdown is-open="contenuti.options.pager.isopen">
                        <button id="single-button" type="button" class="btn btn-pager mydropdown" uib-dropdown-toggle>
                            <span class="pull-left">PAGINA {{contenuti.options.pager.active}}</span>
                            <span class="pull-right lsf ">dropdown</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="page in contenuti.generatePages()">
                                <a ng-click="contenuti.changePage(page)">PAGINA {{page}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>








<!------------ SEGNALAZIONI --------------

<div class="row" ng-repeat="article in contenuti.articles | limitTo:contenuti.options.pager.limit:-(contenuti.options.pager.active*contenuti.options.pager.limit)">
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img ng-src="{{contenuti.channelService.byId(article.id_channel).iconImageUrl()}}" width="35px"/>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-padding">
                    <div class="row no-padding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="font-bold no-padding no-margin">{{contenuti.channelService.byId(article.id_channel).name()}}</p>
                        </div>
                    </div>
                    <div class="row no-padding">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p class="font-small no-padding color-mid-grey no-margin"> in {{contenuti.categoryService.byId(article.id_category).ds_name | uppercase}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="font-small padding-top-5">{{article.abstract()}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="font-bold no-padding no-margin">&nbsp;</p>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="color-grey font-small no-padding no-margin">ARTICOLO</p>
                </div>
            </div>

            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="font-medium font-bold roboto-slab-bold padding-top-5">{{article.title()}}</p>
                </div>
            </div>
        </div>


        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="font-bold no-padding no-margin">&nbsp;</p>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p class="color-grey font-small no-padding no-margin">PUBBLICAZIONE</p>
                </div>
            </div>

            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xa-12">
                    <p ng-if="article.dt_publication_date" class="font-medium padding-top-5">{{article.publishDate() | date:'dd-MM-yyyy'}}</p>
                    <p ng-if="!article.dt_publication_date" class="font-medium padding-top-5 font-bold"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding">
            <img ng-if="article.showAlertIcon()"  src="app/assets/images/alert.jpg"  style="margin-top:20px;"/>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="row no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img class="img-preview-article bgcolor-grey"/>
                </div>
            </div>
        </div>
        </div>

        <div class="row">
            <br />
            <div class="bgcolor-light-grey" style="height: 2px;" ></div>
            <br />
        </div>
    </div>
</div>

-->