<div id="canali" ng-controller="CanaliController as canali">

    <!-- NAV BAR -->
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <p class="font-bold font-medium color-mid-grey" style="margin-bottom:0">{{canali.current_state.title | uppercase}}</p>
            <p class="font-bold font-medium" style="color: {{canali.city.assets_color}}">{{canali.city.ds_name | uppercase}} SMART</p>
        </div>
    </div>

    <!------------- body content ---------->

    <div class="row page_content margin-top-50px">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <button class="btn btn-green pull-left" style="padding-left:12px; padding-right:12px;" ui-sref="home.nuovo_canale">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;NUOVO CANALE
                    </button>
                </div>
            </div>

            <!--------- list ---------->

            <br/>
            <br/>
            <br/>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                    <!---------- ELEMENT ---------->
                    <div class="row" ng-repeat="channel in canali.channels | limitTo:canali.options.pager.limit:-(canali.options.pager.active*canali.options.pager.limit)">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                            <div class="row">
                                <!------------- FIRST COL [article description]--------->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <img ng-src="{{channel.iconImageUrl()}}" width="35px"/>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-padding">
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="height:15px">
                                                    <p class="font-bold no-padding no-margin">&nbsp;</p>
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                                    <p class="font-bold no-padding no-margin">{{channel.name()}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-15 padding-top-15">Attivo dal {{channel.activeFrom() | date:'dd - MM - yyyy'}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!------------- SECOND COL [article title]--------->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-bold no-padding no-margin">&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="color-grey font-small no-padding no-margin">TIPO</p>
                                        </div>
                                    </div>

                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <p class="font-15 font-bold padding-top-10">{{channel.category()}}</p>
                                        </div>
                                    </div>
                                </div>

                                <!------------- THIRD COL [pubblication date]--------->
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="font-bold no-padding no-margin">&nbsp;</p>
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="color-grey font-small no-padding no-margin">CONTENUTI</p>
                                                </div>
                                            </div>

                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xa-12">
                                                    <p class="font-15 font-bold padding-top-10">147</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="font-bold no-padding no-margin">&nbsp;</p>
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="color-grey font-small no-padding no-margin">SEGNALAZIONI</p>
                                                </div>
                                            </div>

                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xa-12">
                                                    <p class="font-15 font-bold padding-top-10">2</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="font-bold no-padding no-margin">&nbsp;</p>
                                                </div>
                                            </div>
                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <p class="color-grey font-small no-padding no-margin">STATO</p>
                                                </div>
                                            </div>

                                            <div class="row no-padding">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xa-12">
                                                    <p class="font-15 font-bold padding-top-10 color-green">ATTIVO</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <br />
                                <div class="bgcolor-light-grey" style="height: 2px;" ></div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---- END LIST --------->

            <br />
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- Single button -->
                    <div class="btn-group pull-right" uib-dropdown is-open="contenuti.options.pager.isopen">
                        <button id="single-button" type="button" class="btn btn-pager mydropdown" uib-dropdown-toggle>
                            <span class="pull-left">PAGINA {{canali.options.pager.active}}</span>
                            <span class="pull-right lsf ">dropdown</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="page in canali.generatePages()">
                                <a ng-click="canali.changePage(page)">PAGINA {{page}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>