<div id="new_channel" ng-controller="NewArticleController as article">

    <!-- NAV BAR -->
    <div class="row">
        <div class="col-lg-9 col-sm-9 col-md-9 col-xs-6">
            <p class="font-bold font-medium color-mid-grey" style="margin-bottom:0">{{article.current_state.title | uppercase}}</p>
            <p class="font-bold font-medium" style="color: {{article.city.assets_color}}">{{article.city.ds_name | uppercase}} SMART</p>
        </div>
        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-6">
            <button ui-sref="home.contenuti" class="btn btn-block-settings pull-right no-margin"><span class="lsf color-grey">back</span>&nbsp;&nbsp;&nbsp;INDIETRO</button>
        </div>
    </div>

    <!------------- body content ---------->

    <div class="row page_content margin-top-10px margin-left-0">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

            <div class="row" style="margin-top:25px !important;">

                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 no-padding-left">
                    <div class="form-group">
                        <label class="font-small color-grey">CANALE</label>
                        <ui-select class="community-ui-select" ng-model="article.options.channelSelected" on-select="article.clearAuthor()">
                            <ui-select-match placeholder="Seleziona...">{{$select.selected.name()}}</ui-select-match>
                            <ui-select-choices repeat="channel in article.options.channels | filter: $select.search track by $index">
                                <span ng-bind="channel.name()"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding-left">
                    <div class="form-group">
                        <label class="font-small color-grey">AUTORE</label>
                        <ui-select class="community-ui-select" ng-model="article.options.authorSelected">
                            <ui-select-match placeholder="Seleziona...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="author in article.options.channelSelected.authorList() | filter: $select.search track by $index">
                                <span ng-bind="author"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 no-padding-left">
                    <div class="form-group border-line">
                        <label class="font-small color-grey" style="white-space:nowrap;">CATEGORIA CONSIGLIATA</label>
                        <ui-select class="community-ui-select" ng-model="article.options.categorySelected">
                            <ui-select-match placeholder="Seleziona...">{{$select.selected.ds_name}}</ui-select-match>
                            <ui-select-choices repeat="cat in article.categoryService.listNoAll | filter: $select.search track by $index">
                                <span ng-bind="cat.ds_name"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6"></div>

            </div>


            <div class="row no-padding margin-top-20px">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                    <div class="form-group row border-bottom-grey">
                        <p class="font-small color-grey pull-left" for="name_current">IN SINTESI</p>
                        <p class="font-small color-grey pull-right">{{article.current.ds_abstract.length || 0}} / 280</p>
                        <textarea maxlength="280" rows="1" msd-elastic class="form-control new-channel-name"  ng-model="article.current.ds_abstract" placeholder="Sintesi del contenuto" id="name_channel" type="text"></textarea>
                    </div>
                </div>
            </div>

            <div class="row no-padding container-hour">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding">

                    <uib-tabset active="activeJustified">
                        <uib-tab index="0" id="tab0">
                            <uib-tab-heading class="padding-10px">
                                <!--<span class="lsf icon-tab">photo</span> <label >IMPOSTAZIONI</label>-->
                                <span class="font-normal font-bold span-tab">
                                    <span class="lsf font-w-100" style="font-size:25px">photo</span>
                                    <span class="tab-title">&nbsp;&nbsp;IMMAGINI E VIDEO</span>
                                </span>
                            </uib-tab-heading>
                            <uib-tab-body>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 container-settings">
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <p class="font-medium font-bold color-blue">PRINCIPALE</p>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 div-icon" ng-if="!article.imagesOptions.cover">
                                                    <button class="btn btn-blue-icon margin-top-15px" ng-click="article.openCoverImage()"><span class="lsf font-medium">ok</span>&nbsp;&nbsp;&nbsp;SELEZIONA</button>
                                                </div>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 div-image" ng-if="!!article.imagesOptions.cover" ng-mouseover="showDeleteCover = true" ng-mouseleave="showDeleteCover = false">
                                                    <div ng-if="article.imagesOptions.cover.type == 'IMAGE'" style="background-image: url({{article.getMediaUrl(article.imagesOptions.cover)}});background-repeat: no-repeat;background-size: contain;max-width: 354px;height: 266px;"></div>
                                                    <embed-video ng-if="article.imagesOptions.cover.type == 'VIDEO'" controls="0" iframe-id="vimeo{{$index}}" width="354" height="266" api="1" player_id="vimeo1" ng-href="{{article.getMediaUrl(article.imagesOptions.cover)}}"></embed-video>
                                                    <button ng-mouseover="showDeleteCover = true"  ng-if="showDeleteCover" class="btn btn-delete-settings delete-image" ng-click="article.deleteCover()">ELIMINA</button>
                                                </div>

                                            </div>
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" ng-if="article.imagesOptions.gallery.length  == 0">
                                                <p class="font-medium font-bold color-blue pull-left">GALLERIA</p>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 div-icon">
                                                    <button class="btn btn-blue-icon margin-top-15px" ng-click="article.openGalleryImage()"><span class="lsf font-medium">ok</span>&nbsp;&nbsp;&nbsp;SELEZIONA</button>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" ng-if="article.imagesOptions.gallery.length > 0">
                                                <p class="font-medium font-bold color-blue pull-left">GALLERIA</p>
                                                <p class="font-medium font-bold color-green pull-right" style="text-decoration: underline;" ng-click="article.openGalleryImage()">AGGIUNGI</p>
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 div-gallery">
                                                    <!--<button class="btn btn-blue-icon margin-top-15px" ng-click="article.openGalleryImage()"><span class="lsf font-medium">ok</span>&nbsp;&nbsp;&nbsp;SELEZIONA</button>-->
                                                    <div class="row container-fluid container-scroll cont-gallery" >
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-repeat="m in article.imagesOptions.gallery" style="margin-top:5px;" ng-init="m.showDelete = false;"
                                                             ng-mouseover="m.showDelete = true" ng-mouseleave="m.showDelete =  false;">
                                                            <div style="width: 100px;height: 100px;background-image: url({{article.getMediaUrl(m, 's')}});background-repeat: no-repeat;background-size: contain;"></div>
                                                            <button ng-if="m.showDelete" class="btn btn-delete-settings delete-image" ng-click="article.deleteGallery($index)">ELIMINA</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!--
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                                <div class="border-bottom-grey">
                                                    <p class="font-small color-grey">AUTORI</p>

                                                    <div class="row no-padding no-margin" ng-repeat="aName in article.current.authors track by $index">
                                                        <p class="no-padding no-margin color-black author-name">{{aName}}</p>
                                                    </div>
                                                    <br />
                                                    <input class="font-normal form-control new-channel-author table-day-text" ng-model="article.aToAdd" placeholder="Nome dell'autore" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 10px">
                                            <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" ng-click="article.addAuthor(article.aToAdd)">
                                                <button class="btn btn-info btn-add-author"><i class="fa fa-plus"></i></button>
                                                <label class="font-small color-grey label-add-author">Aggiungi Autore</label>
                                            </div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                                <!-------- END --------->
                                <div class="row" style="margin-top: 70px">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        <button class="btn btn-delete-settings" ng-if="!article.current.isNew">CESTINA</button>
                                        <button class="btn btn-block-settings" ng-if="!article.current.isNew && article.current.is_published">CONVERTI IN BOZZA</button>

                                        <!--<button class="btn btn-pubblica-settings pull-right" ng-click="article.openPublishProgram()">PUBBLICA</button>-->
                                        <div class="btn-group pull-right" style="margin-left:5px;" uib-dropdown>
                                            <button type="button" class="btn btn-action-publish font-bold" style="HEIGHT: 42px;margin-top: 20px;" ng-click="article.publish()">{{article.current.is_published ? 'SALVA':'PUBBLICA' }}</button>
                                            <button type="button" class="btn btn-action-publish" style="HEIGHT: 42px;margin-top: 20px;" uib-dropdown-toggle ng-click="article.openPublishProgram()">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                        </div>
                                        <button class="btn btn-save-bozza-settings pull-right" ng-if="!article.current.is_published" ng-click="article.saveDraft()">SALVA BOZZA</button>
                                    </div>
                                </div>

                                <div class="row border-bottom-grey">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-15px" style="margin-bottom: 10px;">
                                        <p class="pull-right font-xs color-grey" ng-if="!article.current.isNew">Ultimo salvataggio: {{article.current.updatedAt | date: 'dd - MM - yyyy'}} - {{ article.current.updatedAt | date: 'HH:mm'}}</p>
                                        <p class="pull-right font-xs color-grey" ng-if="article.current.isNew && !article.options.program">Programmato per il: {{article.todayDate() | date: 'dd - MM - yyyy'}} - {{article.todayDate() | date: 'HH:mm'}}</p>
                                        <p class="pull-right font-xs color-grey" ng-if="article.current.isNew && article.options.program">Programmato per il: {{article.options.program.dateSelected | date: 'dd - MM - yyyy'}} - {{article.options.program.oraSelected | date: 'HH:mm'}}</p>
                                    </div>
                                </div>

                            </uib-tab-body>
                        </uib-tab>




                        <!-------------------- SECOND TAB ------------------>





                        <uib-tab index="1" id="tab2" class="border-left-tab">
                            <uib-tab-heading class="padding-10px">
                                <span class="font-normal font-bold span-tab">
                                    <span class="lsf font-w-100 icon-tab-channel">edit</span>
                                    <span class="tab-title">&nbsp;&nbsp;ARTICOLO</span>
                                </span>
                            </uib-tab-heading>
                            <uib-tab-body>
                                <div class="row" style="margin-top: 45px">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        <div class="form-group border-bottom-grey">
                                            <p class="font-small color-grey pull-left" for="title_article">TITOLO</p>
                                            <p class="font-small color-grey pull-right">{{article.current.ds_title.length || 0}} / 70</p>
                                            <textarea maxlength="70" rows="1" msd-elastic class="form-control new-channel-title"  ng-model="article.current.ds_title" placeholder="Titolo dell'articolo" id="title_article" type="text"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 45px">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        <div class="form-group border-bottom-grey">
                                            <div class="row no-padding no-margin">
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding no-margin">
                                                    <p class="font-small color-grey pull-left" for="description_article">TESTO</p>
                                                    <p class="font-small color-grey pull-right">{{article.stripHTMLCount(article.current.ds_description) || 0}}</p>
                                                </div>
                                            </div>
                                            <!--<textarea rows="1" msd-elastic class="form-control new-channel-name"  ng-model="article.current.description" placeholder="Titolo dell'articolo" id="description_article" type="text"></textarea>-->

                                            <div class="row no-padding no-margin margin-top-15px">
                                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-padding no-margin">
                                                    <!--<trix-editor angular-trix ng-model="article.current.description"></trix-editor>-->
                                                    <ng-quill-editor ng-model="article.current.ds_description" placeholder="Inserisci il test dell'articolo">
                                                        <ng-quill-toolbar>
                                                            <div>
                                                                <span class="ql-formats">
                                                                    <button class="ql-bold no-margin-left" ng-attr-title="{{'Bold'}}"></button>
                                                                    <button class="ql-italic" ng-attr-title="{{'Italic'}}"></button>
                                                                    <button class="ql-underline" ng-attr-title="{{'Underline'}}"></button>
                                                                    <button class="ql-blockquote" ng-attr-title="{{'Blockquote'}}"></button>
                                                                    <button class="ql-link" ng-attr-title="{{'link'}}"></button>
                                                                </span>
                                                                <!--
                                                                <span class="ql-formats">
                                                                    <select class="ql-align" ng-attr-title="{{'Aligment'}}">
                                                                        <option selected></option>
                                                                        <option value="center"></option>
                                                                        <option value="right"></option>
                                                                        <option value="justify"></option>
                                                                    </select>
                                                                </span>
                                                                -->
                                                            </div>
                                                        </ng-quill-toolbar>
                                                    </ng-quill-editor>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-------- END --------->
                                <div class="row" style="margin-top: 70px">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        <button class="btn btn-delete-settings" ng-if="!article.current.isNew">CESTINA</button>
                                        <button class="btn btn-block-settings" ng-if="!article.current.isNew">CONVERTI IN BOZZA</button>

                                        <div class="btn-group pull-right" style="margin-left:5px;" uib-dropdown>
                                            <button type="button" class="btn btn-action-publish font-bold" style="HEIGHT: 42px;margin-top: 20px;" ng-click="article.publish()">{{article.current.is_published ? 'SALVA':'PUBBLICA' }}</button>
                                            <button type="button" class="btn btn-action-publish" style="HEIGHT: 42px;margin-top: 20px;" uib-dropdown-toggle ng-click="article.openPublishProgram()">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                        </div>
                                        <button class="btn btn-save-bozza-settings pull-right" ng-if="!article.current.is_published" ng-click="article.saveDraft()">SALVA BOZZA</button>
                                    </div>
                                </div>

                                <div class="row border-bottom-grey">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-15px" style="margin-bottom: 10px;">
                                        <p class="pull-right font-xs color-grey" ng-if="!article.current.isNew">Ultimo salvataggio: {{article.current.updatedAt | date: 'dd - MM - yyyy'}} - {{ article.current.updatedAt | date: 'HH:mm'}}</p>
                                        <p class="pull-right font-xs color-grey" ng-if="article.current.isNew && !article.options.program">Programmato per il: {{article.todayDate() | date: 'dd - MM - yyyy'}} - {{article.todayDate() | date: 'HH:mm'}}</p>
                                        <p class="pull-right font-xs color-grey" ng-if="article.current.isNew && article.options.program">Programmato per il: {{article.options.program.dateSelected | date: 'dd - MM - yyyy'}} - {{article.options.program.oraSelected | date: 'HH:mm'}}</p>
                                    </div>
                                </div>


                            </uib-tab-body>
                        </uib-tab>




                        <!-------------------- THIRD TAB ------------------>






                        <uib-tab index="2" id="tab-last">
                            <uib-tab-heading class="padding-10px">
                                <span class="font-normal font-bold span-tab">
                                    <span class="lsf font-w-100 icon-tab-channel" style="font-size:30px;">calendar</span>
                                    <span class="tab-title" >&nbsp;&nbsp;EVENTO</span>
                                </span>
                            </uib-tab-heading>
                            <uib-tab-body>
                                <div class="row" style="margin-top: 45px">
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">

                                        <cs-flag
                                                class="my-flag-validation"
                                                flag-show-info="false"
                                                flag-selected="article.options.event.isActive"
                                                flag-string="INSERISCI NEGLI EVENTI"></cs-flag>
                                    </div>
                                    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6"></div>
                                </div>

                                <div ng-if="article.options.event.isActive" style="margin-top: 30px">
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
                                            <div class="border-bottom-grey">
                                                <p class="font-small color-grey">LUOGO</p>
                                                <input class="form-control new-channel-author table-day-text" placeholder="Indirizzo" ng-model="article.options.event.place" type="text">
                                            </div>
                                        </div>
                                    </div>

                                    <!----------- NG REPEAT ----------->
                                    <div class="row" ng-repeat="when in article.options.event.when">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="row" style="margin-top: 25px">
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                                    <div class="border-bottom-grey search-edition">
                                                        <p class="font-small color-grey">DATA</p>
                                                        <md-datepicker md-open-on-focus ng-model="when.date" md-placeholder="Seleziona la data..."  style="height: 42px;width: 230px;"></md-datepicker>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                                    <div class="border-bottom-grey">
                                                        <p class="font-small color-grey">ORA INIZIO</p>
                                                        <ui-select class="community-ui-select table-day-text" ng-model="when.start">
                                                            <ui-select-match placeholder="Seleziona...">{{$select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="h in article.hours | filter: $select.search track by $index">
                                                                <span ng-bind="h"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
                                                    <div class="border-bottom-grey">
                                                        <p class="font-small color-grey">ORA FINE</p>
                                                        <ui-select class="community-ui-select table-day-text" ng-model="when.end">
                                                            <ui-select-match placeholder="Seleziona...">{{$select.selected}}</ui-select-match>
                                                            <ui-select-choices repeat="h in article.hours | filter: $select.search track by $index">
                                                                <span ng-bind="h"></span>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3" ng-if="!!when.end">
                                                    <button class="no-border" ng-click="article.deleteWhen($index)">
                                                        <!--<i class="fa fa-plus"></i>-->
                                                        <p class="font-small color-grey">&nbsp;</p>
                                                        <img src="app/assets/images/close_button_red.png" width="35px" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row"  style="margin-top: 20px">
                                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6" ng-click="article.addDate()">
                                            <button class="no-border">
                                                <!--<i class="fa fa-plus"></i>-->
                                                <img src="app/assets/images/add_azure_button.png" width="35px" />
                                            </button>
                                            <label class="font-small color-grey label-add-author">Aggiungi data</label>
                                        </div>
                                    </div>

                                </div>

                                <!-------- END --------->
                                <div class="row" style="margin-top: 70px">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                                        <button class="btn btn-delete-settings" ng-if="!article.current.isNew">CESTINA</button>
                                        <button class="btn btn-block-settings" ng-if="!article.current.isNew">CONVERTI IN BOZZA</button>

                                        <div class="btn-group pull-right" style="margin-left:5px;" uib-dropdown>
                                            <button type="button" class="btn btn-action-publish font-bold" style="HEIGHT: 42px;margin-top: 20px;" ng-click="article.publish()">{{article.current.is_published ? 'SALVA':'PUBBLICA' }}</button>
                                            <button type="button" class="btn btn-action-publish" style="HEIGHT: 42px;margin-top: 20px;" uib-dropdown-toggle ng-click="article.openPublishProgram()">
                                                <span class="caret"></span>
                                                <span class="sr-only">Split button!</span>
                                            </button>
                                        </div>
                                        <button class="btn btn-save-bozza-settings pull-right" ng-if="!article.current.is_published" ng-click="article.saveDraft()">SALVA BOZZA</button>
                                    </div>
                                </div>

                                <div class="row border-bottom-grey">
                                    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 margin-top-15px" style="margin-bottom: 10px;">
                                        <p class="pull-right font-xs color-grey" ng-if="!article.current.isNew">Ultimo salvataggio: {{article.current.updatedAt | date: 'dd - MM - yyyy'}} - {{ article.current.updatedAt | date: 'HH:mm'}}</p>
                                        <p class="pull-right font-xs color-grey" ng-if="article.current.isNew && !article.options.program">Programmato per il: {{article.todayDate() | date: 'dd - MM - yyyy'}} - {{article.todayDate() | date: 'HH:mm'}}</p>
                                        <p class="pull-right font-xs color-grey" ng-if="article.current.isNew && article.options.program">Programmato per il: {{article.options.program.dateSelected | date: 'dd - MM - yyyy'}} - {{article.options.program.oraSelected | date: 'HH:mm'}}</p>
                                    </div>
                                </div>

                            </uib-tab-body>
                        </uib-tab>

                    </uib-tabset>
                </div>
            </div>

            <br />
            <div class="row" ng-if="!article.current.isNew">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 no-magin no-padding">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-md-3 col-xs-6">
                            <button class="btn btn-blue-full" style="padding:10px" ui-sref="home.commenti({id: article.current._id})">
                                <i class="fa fa-comment-o" style="font-weight: bold" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;GESTISCI COMMENTI</button>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-md-3 col-xs-6" ng-if="article.current.isReported">
                            <img src="app/assets/images/alert.jpg" width="35px" class="pull-left"/>
                            <p src="app/assets/images/alert.jpg" width="35px" class="pull-left color-smart font-bold" style="margin-left:10px">
                                RICHIESTA<BR>DI MODERAZIONE
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-4"></div>
                    </div>
                    <br />
                    <br />
                </div>
            </div>

        </div>
    </div>

</div>