<div id="edizioni" ng-controller="EdizioniController as edizioni">

    <!-- NAV BAR -->
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <p class="font-bold font-medium color-mid-grey" style="margin-bottom:0">{{edizioni.current_state.title | uppercase}}</p>
            <p class="font-bold font-medium" style="color: {{edizioni.city.assets_color}}">{{edizioni.city.ds_name | uppercase}} SMART</p>
        </div>
    </div>

    <!------------- body content ---------->

    <div class="row page_content margin-top-50px">
        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="form-group form-inline search-edition" >
                        <!--<input class="form-control no-round-right pull-left" placeholder="Seleziona la data..." type="date" style="height: 42px;width: 230px;">-->
                        <md-datepicker md-open-on-focus class="form-control no-round-right pull-left" ng-model="edizioni.dateSelected" md-placeholder="Seleziona la data..."  style="height: 42px;width: 230px;"></md-datepicker>

                        <button class="btn btn-green no-round-left pull-left" style="padding-left:12px; padding-right:12px;">
                            <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;CREA NUOVA EDIZIONE
                        </button>
                    </div>
                </div>
            </div>

            <!--------- list ---------->

            <br/>
            <br/>
            <br/>

            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                    <!---------- ELEMENT ---------->
                    <div class="row" ng-repeat="edizione in edizioni.edizioni | limitTo:edizioni.options.pager.limit:-(edizioni.options.pager.active*edizioni.options.pager.limit)">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">

                            <div class="row">
                                <!------------- FIRST COL [article description]--------->
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <p class="font-bold no-padding no-margin">{{edizione.name()}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!------------- SECOND COL [article title]--------->
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <p class="no-padding no-margin">{{edizione.postNumber()}} post</p>
                                        </div>
                                    </div>
                                </div>

                                <!------------- THIRD COL [pubblication date]--------->
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <div class="row no-padding">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <p ng-if="edizione.status()" class="font-15 font-bold color-green">AUTORIZZATA</p>
                                            <p ng-if="!edizione.status()" class="font-15 font-bold color-mid-grey">BOZZA</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <br />
                                <div class="bgcolor-light-grey" style="height: 2px;" ></div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---- END LIST --------->

            <br />
            <br />
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"></div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- Single button -->
                    <div class="btn-group pull-right" uib-dropdown is-open="contenuti.options.pager.isopen">
                        <button id="single-button" type="button" class="btn btn-pager mydropdown" uib-dropdown-toggle>
                            <span class="pull-left">PAGINA {{edizioni.options.pager.active}}</span>
                            <span class="pull-right lsf ">dropdown</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="page in canali.generatePages()">
                                <a ng-click="edizioni.changePage(page)">PAGINA {{page}}</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>