.color-grey {
  color: #808080;
}
.color-day-text-grey {
  color: #939393;
}
.color-black {
  color: black;
}
.color-mid-grey {
  color: #939393;
}
.color-blue {
  color: #48AACC;
}
.color-smart {
  color: #D93E5F;
}
.color-green {
  color: #24C40D;
}
.bgcolor-smart {
  background-color: #D93E5F;
}
.bgcolor-grey {
  background-color: #808080;
}
.bgcolor-light-grey {
  background-color: #E5E5E5;
}
.bgcolor-mid-grey {
  background-color: #939393;
}
#new_channel {
  color: #939393;
}
#new_channel .show-psw-icon {
  position: absolute;
  right: 10%;
  top: 45%;
  font-size: 20px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  cursor: pointer;
}
#new_channel .nav-tabs {
  height: 50px;
}
#new_channel .nav-tabs > li {
  height: 50px;
  border: 0;
  border-radius: 5px;
}
#new_channel .nav-tabs > li > a {
  font-size: 13px;
  color: #808080;
  font-weight: bold;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0;
}
#new_channel #tab0 > a > .ng-scope > label {
  vertical-align: 30%;
}
#new_channel #tab1 > a > .ng-scope > label {
  vertical-align: 40%;
}
#new_channel #tab2 > a > .ng-scope > label {
  vertical-align: 20%;
}
#new_channel #tab3 > a > .ng-scope > label {
  vertical-align: 20%;
}
#new_channel #tab-last > a > .ng-scope > label {
  vertical-align: 20%;
}
#new_channel li > a > .ng-scope > label {
  margin-right: 20px;
  vertical-align: 35%;
  margin-bottom: 0;
}
#new_channel #tab0 > a {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #CCCCCC;
  border-right: 0;
}
#new_channel #tab0 > a > .ng-scope > .icon-tab {
  font-size: 35px;
  font-weight: normal;
  padding-right: 10px;
}
#new_channel #tab1 > a {
  border-radius: 0;
  border: 1px solid #CCCCCC;
}
#new_channel #tab1 > a > .ng-scope > .icon-tab {
  font-size: 30px;
  font-weight: normal;
  padding-right: 10px;
  vertical-align: bottom;
}
#new_channel #tab2 > a {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #CCCCCC;
  border-right: 0;
  border-left: 0;
}
#new_channel #tab2 > a > .ng-scope > .icon-tab {
  font-size: 35px;
  font-weight: normal;
  padding-right: 10px;
}
#new_channel #tab3 > a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #CCCCCC;
}
#new_channel #tab3 > a > .ng-scope > .icon-tab {
  font-size: 30px;
  font-weight: normal;
  padding-right: 10px;
  vertical-align: 10%;
}
#new_channel #tab-last > a {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid #CCCCCC;
}
#new_channel #tab-last > a > .ng-scope > .icon-tab {
  font-size: 30px;
  font-weight: normal;
  padding-right: 10px;
  vertical-align: 10%;
}
#new_channel #tab0 {
  border-top-left-radius: 10px;
}
#new_channel #tab3 {
  border-top-right-radius: 10px;
}
#new_channel #tab-last {
  border-top-right-radius: 10px;
}
#new_channel .nav-tabs > li.active > a {
  background-color: #3FA9F5;
  color: white;
}
#new_channel .tab-title {
  font-family: RobotoBold;
  vertical-align: top;
}
#new_channel .new-channel-name {
  border: none;
  font-family: Roboto;
  font-size: 18px;
  margin-left: -10px;
  margin-bottom: 10px;
}
#new_channel .new-channel-title {
  border: none;
  font-family: RobotoSlabBold;
  font-size: 20px;
  margin-left: -10px;
  margin-bottom: 10px;
}
#new_channel .container-settings {
  top: 40px;
}
#new_channel .div-icon {
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  height: 80px;
}
#new_channel .btn-selected-settings {
  border: 1px solid #3FA9F5;
  background-color: white;
  color: #3FA9F5;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
}
#new_channel .new-channel-author {
  border: none;
  font-family: Roboto;
  font-size: 14px;
  margin-left: -10px;
  margin-bottom: 10px;
}
#new_channel .btn-add-author {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
}
#new_channel .label-add-author {
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}
#new_channel .btn-delete-settings {
  border: 1px solid #E62726;
  background-color: white;
  color: #E62726;
  margin-top: 20px;
  margin-right: 5px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new_channel .btn-delete-settings:hover,
#new_channel .btn-delete-settings:focus,
#new_channel .btn-delete-settings:active {
  border: 1px solid #E62726 !important;
  background-color: white;
  color: #E62726 !important;
}
#new_channel .btn-block-settings {
  border: 1px solid #939393;
  background-color: white;
  color: #939393;
  margin-top: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new_channel .btn-block-settings:hover,
#new_channel .btn-block-settings:focus,
#new_channel .btn-block-settings:active {
  border: 1px solid #939393 !important;
  background-color: white;
  color: #939393 !important;
}
#new_channel .btn-save-settings {
  border: 1px solid #24C40D;
  background-color: white;
  color: #24C40D;
  margin-top: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new_channel .btn-save-settings:hover,
#new_channel .btn-save-settings:focus,
#new_channel .btn-save-settings:active {
  border: 1px solid #24C40D !important;
  background-color: white;
  color: #24C40D !important;
}
#new_channel .btn-save-bozza-settings {
  border: 1px solid #48AACC;
  background-color: white;
  color: #48AACC;
  margin-top: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new_channel .btn-save-bozza-settings:hover,
#new_channel .btn-save-bozza-settings:focus,
#new_channel .btn-save-bozza-settings:active {
  border: 1px solid #48AACC !important;
  background-color: white;
  color: #48AACC !important;
}
#new_channel .btn-pubblica-settings {
  border: 1px solid #24C40D;
  background-color: white;
  color: #24C40D;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
#new_channel .btn-pubblica-settings:hover,
#new_channel .btn-pubblica-settings:focus,
#new_channel .btn-pubblica-settings:active {
  border: 1px solid #24C40D !important;
  background-color: white;
  color: #24C40D !important;
}
#new_channel .container-modifier {
  margin-bottom: 30px;
}
#new_channel .table-day-text {
  font-size: 16px;
}
#new_channel .table-day-text span {
  font-size: 16px;
}
#new_channel .container-hour {
  margin-top: 40px;
}
.icon-tab-channel {
  font-size: 25px;
  margin-top: 5px;
}
.padding-10px {
  padding: 10px;
}
.span-tab {
  line-height: 50px;
  text-align: center;
}
