.color-grey {
  color: #808080;
}
.color-day-text-grey {
  color: #939393;
}
.color-black {
  color: black;
}
.color-mid-grey {
  color: #939393;
}
.color-light-grey {
  color: #E5E5E5;
}
.color-blue {
  color: #48AACC;
}
.color-smart {
  color: #D93E5F;
}
.color-green {
  color: #24C40D;
}
.bgcolor-smart {
  background-color: #D93E5F;
}
.bgcolor-grey {
  background-color: #808080;
}
.bgcolor-light-grey {
  background-color: #E5E5E5;
}
.bgcolor-mid-grey {
  background-color: #939393;
}
.cs-checkbox {
  width: 30px;
  height: 30px;
  border: 1px solid #3FA9F5;
  background-color: white;
}
.cs-checkbox span.icon-check {
  color: white;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cs-checkbox.selected {
  border: 1px solid #3FA9F5;
  background-color: #3FA9F5;
}
.cs-checkbox.selected span.icon-check {
  color: white;
  font-size: 20px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.cs-radio {
  width: 30px;
  height: 30px;
  border: 2px solid black;
  background-color: white;
  border-radius: 100%;
  line-height: 30px;
}
.cs-radio span.icon-check {
  color: white;
  font-size: 160%;
  text-align: center;
  margin-left: 6px;
  position: absolute;
  margin-top: 2px;
}
.cs-radio.selected {
  border: 1px solid #3FA9F5;
  background-color: #3FA9F5;
}
.cs-radio.selected span.icon-check {
  color: white;
  font-size: 160%;
  text-align: center;
  margin-left: 6px;
  position: absolute;
  margin-top: 2px;
}
*:focus {
  outline: none !important;
}
.flag-with-scroll .flag-span-title {
  display: block;
  overflow: auto;
  max-height: 60px;
}
/*
   *  STYLE 2
   */
.flag-span-title {
  font-family: RobotoBold;
  color: #939393;
}
.flag-span-title::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px @grey;*/
  background-color: #F5F5F5;
}
.flag-span-title::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
.flag-span-title::-webkit-scrollbar-thumb {
  height: 12px;
  /*-webkit-box-shadow: inset 0 0 6px @grey;*/
  background-color: #BEBEBE;
}
