.color-grey {
  color: #808080;
}
.color-mid-grey {
  color: #939393;
}
.color-smart {
  color: #D93E5F;
}
.bgcolor-smart {
  background-color: #D93E5F;
}
.bgcolor-grey {
  background-color: #808080;
}
