/** Light **/
@font-face {
  font-family: 'RobotoSlabRegular';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'RobotoSlabLight';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Light.ttf") format("truetype");
  font-style: italic, oblique;
}
@font-face {
  font-family: 'RobotoSlabThin';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Thin.ttf") format("truetype");
}
/** Regular Italic**/
@font-face {
  font-family: 'RobotoSlabBold';
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: bold;
}
/** Light **/
@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'RobotoLightItalic';
  src: url("../fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-style: italic, oblique;
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 500;
}
/** Regular Italic**/
@font-face {
  font-family: 'RobotoItalic';
  src: url("../fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-style: italic, oblique;
  font-weight: 500;
}
/** Medium **/
@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
}
/** Medium Italic **/
@font-face {
  font-family: 'RobotoMediumItalic';
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-style: italic, oblique;
  font-weight: 600;
}
/** Bold **/
@font-face {
  font-family: 'RobotoBold';
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
/** Bold Italic**/
@font-face {
  font-family: 'RobotoBoldItalic';
  src: url("../fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic, oblique;
}
