@import "colors";
@import "ionicicons";
@import "fonts";
@import "ligature";
@import "vittorio";
@import "md-picker";
@import "animation";

*{
  font-family: Roboto;
}
/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: @white !important;
  min-width: 840px !important;
}
html{
  background-color: @white !important;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
.master-uiview{
  width:75%;
  margin-left:12.5%;
}
/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}
.margin-top-50px{
  margin-top:50px !important;
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 120rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

.font-small{
  font-size: 12px;
}

.font-normal{
  font-size: 14px;
}

.font-medium{
  font-size: 16px;
}


.font-large{
  font-size: 18px;
}
.roboto-slab{
  font-family:RobotoSlabRegular !important;
}
.roboto-slab-bold{
  font-family:RobotoSlabBold !important;
}

.roboto-slab-light{
  font-family:RobotoSlabLight !important;
}

.font-light{
  font-family: RobotoLight;
}

.font-bold{
  font-family: RobotoBold;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
// loading view
.loading{

  width: 100vw;
  height: 100vh;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;

  img.logo {
    width: 100px;
    height: 100px;
    margin: auto;
  }

}

// login view

#login, #choose_city{

  .subtitle{
    font-family: Roboto;
    color: @grey;
  }
  .login_form{

    margin-top:25%;
    width: 100%;
    height: 442px;

    border: 1px solid @light-grey;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
  }

  #logintitle{
    padding-top: 50px;
  }

  .font-title{
    color: @grey;
    font-size: 28pt;
  }
}
.no-padding{
  padding: 0 !important;
}

.padding-top-5{
  padding-top: 5px;
}
.padding-top-10{
  padding-top: 10px;
}
.padding-top-15{
  padding-top: 15px;
}
.no-margin{
  margin: 0 !important;
}
.space-15{
  height: 15px;
}
/***** form ******/
form.communityform {
  .titleform {
    color: @mid-grey!important;
    font-family: RobotoBold;
  }

  .form-group{

    label{
      color: @grey;
      font-family: RobotoLight;
      font-size: 12px;
    }

    label.label-invalid{
      color: @red;
    }
  }

  .community-control{
    border: none;
    border-bottom: 2px solid @light-grey;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;

    pointer-events: auto;

    &:hover {
      color: #777;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }
  }
}

.pointer{
  cursor: pointer;
}

.box-login-invalid{
  border: 1px solid @smart;
  background-color: @light-red;
  margin-bottom: 10px;

  height: 40px;

  p {
    vertical-align: middle;
    color: @smart;
    margin-top: 8px;
    padding-left: 10px;
  }
}

.margin-top-10px{
  margin-top: 10px;
}
.padding-15per{
  padding-left: 15%;
  padding-right: 15%
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus {
  //border: none !important;
  outline: none;
  outline-offset: -2px;
  box-shadow: none;
  /*
  background-image: none;
  color: white;
  */
}

.btn:focus {
  border: none !important;
  outline: none;
  outline-offset: -2px;
  background-image: none;
  /*color: white;*/
  opacity:0.8;
}

.btn-green{
  font-family: RobotoMedium !important;
  font-weight: 500;
  background-color: @green;
  color: white;
  font-size: 14px;
  padding: 10px 25px;

  &:hover, &:focus, &:active{
    color: white;
  }
}

.btn-pager{
  font-family: RobotoMedium !important;
  font-weight: 500;
  background-color: @white;
  border: 1px solid @blue;
  color: @blue;
  font-size: 14px;
  padding: 10px 25px;

  &:hover, &:focus, &:active{
    border: 1px solid @blue !important;
    color: @blue;
  }

  &.mydropdown{

    width: 150px;
    padding-left: 10px;
    border: 1px solid @blue !important;
  }
}

.btn-grey{
  font-family: RobotoMedium !important;
  font-weight: 500;
  background-color: white;
  color: @mid-grey;
  border: 1px solid @mid-grey;
  font-size: 14px;
  padding: 10px 15px;
  margin-top: 10px;


  &:hover, &:focus, &:active{
    border: 1px solid @mid-grey !important;
    color: @mid-grey;
  }
}

.border-bottom-grey{
  border-bottom: 2px solid @light-grey;
}
.btn-new{
  font-family: RobotoBold !important;
  font-weight: 500;
  background-color: @white;
  border: 1px solid @green;
  border-radius: 5px;
  color: @green;
  font-size: 16px;
  padding: 10px 15px;

  &:hover, &:focus, &:active{
    border: 1px solid @green;
    border-radius: 5px;
    color: @green;
  }
}


.community_link{

  color: @mid-grey;
  font-family: RobotoBold;
  cursor: pointer;

  &:hover, &:active, &:focus{
    color: @mid-grey;
    text-decoration: none;
  }
}

.form-control:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input, textarea {
  outline: none;
  box-shadow:none !important;
}

.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus {
  text-decoration: none;
  color: black;
  background-color: @light-grey;
}

.community-ui-select{

  .ui-select-match-text{
    padding-left: 10px;
  }
  .ui-select-toggle{
    border: none;
    border-bottom: 2px solid @light-grey;
    box-shadow: none;
    border-radius: 0;
    padding-left: 0;

    pointer-events: auto;

    &:hover {
      color: #777;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }
  }
  .ui-select-search {
    outline: 0;
    box-shadow: none;
    border: none !important;
    outline: none;
    outline-offset: -2px;
    background-image: none;

    &:hover {
      color: #777;
      color: rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }

    &:focus, &:active{
      outline: 0 !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

}

.padding-left-20px{
  padding-left: 20px;
}

/*** HOME **/
#home {
  .navbar_page_title{
    color: @mid-grey;
    font-family: Roboto;
    font-size: 14px;
  }

  .menu_link{
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
  }

  .height-30px{
    height: 30px;
  }
}

#container_view{

  & > div:first-child{
    margin-top:40px;
  }
  .page_content{
    margin-top:5px
  }
}

.search-icon{
  position: absolute;
  font-size: 28px;
  color: @mid-grey;
  bottom: 2px;
}

.search-input{
  margin-left:10px;
  border: none;
  font-family: Roboto;
  font-size: 18px;
  margin-bottom: 5px;
}

.img-preview-article{
  width: 120px;
  height: 90px;
}

.no-round-right{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.no-round-left{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.border-line{
  border-bottom: 2px solid @light-grey;
}