@import "colors";

#iscritti{
  .select-blue{
    font-family: RobotoMedium !important;
    font-weight: bold;
    background-color: white;
    color: @light-blue;
    border: 1px solid @light-blue !important;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 5px;
    margin-top: 10px;

    & > div > span{
      font-weight: bold;
      color: @light-blue;
      border-bottom: 0;
    }

    & > div > span > span{
      font-weight: bold;
      color: @light-blue;
    }
  }

  .circle-blu{
    border-radius: 50%;
    background-color: @light-blue;
    width: 13px;
    height: 13px;
  }

  .circle-pink{
    border-radius: 50%;
    background-color: @red;
    width: 13px;
    height: 13px;
  }

}