.color-grey {
  color: #808080;
}
.color-day-text-grey {
  color: #939393;
}
.color-black {
  color: black;
}
.color-mid-grey {
  color: #939393;
}
.color-light-grey {
  color: #E5E5E5;
}
.color-blue {
  color: #48AACC;
}
.color-smart {
  color: #D93E5F;
}
.color-green {
  color: #24C40D;
}
.bgcolor-smart {
  background-color: #D93E5F;
}
.bgcolor-grey {
  background-color: #808080;
}
.bgcolor-light-grey {
  background-color: #E5E5E5;
}
.bgcolor-mid-grey {
  background-color: #939393;
}
#dashboard .border-radius {
  border-radius: 5px;
}
#dashboard .border-grey {
  border: 1px solid #CCCCCC;
}
#dashboard .font-xl {
  font-size: 22px;
}
#dashboard .display-flex {
  display: flex;
}
#dashboard .btn-transparent {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: #808080;
  font-weight: bold;
}
#dashboard .width-25px {
  width: 25px;
}
#dashboard .height-25px {
  height: 25px;
}
#segnalazioni .img-see-segnalation {
  height: 50px;
  width: 50px;
}
#segnalazioni .select-blue {
  font-family: RobotoMedium !important;
  font-weight: bold;
  background-color: white;
  color: #48AACC;
  border: 1px solid #48AACC !important;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 5px;
  margin-top: 10px;
}
#segnalazioni .select-blue > div > span {
  font-weight: bold;
  color: #48AACC;
  border-bottom: 0;
}
#segnalazioni .select-blue > div > span > span {
  font-weight: bold;
  color: #48AACC;
}
