<div id="home" ng-controller="HomeController as home" style="padding-top:20px">

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="app/assets/images/logo.png" width="80px" style="margin-left:-20px" />
                </div>
            </div>

            <br />
            <br />
            <!---------- menu bar ---------->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <a class="menu_link font-medium color-grey pointer" ui-sref="{{home.ROUTING.home_dashboard.name}}">DASHBOARD</a>
                    </div>
                </div>

            </div>

            <br />

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <button class="btn btn-new" ><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;NUOVO</button>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <p class="font-small color-grey">GESTISCI</p>
                    </div>
                </div>
            </div>

            <div class="row height-30px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <a class="menu_link font-medium color-grey pointer" ui-sref="{{home.ROUTING.contenuti.name}}">CONTENUTI</a><!-- ng-click="home.go.toContenuti()"-->
                    </div>
                </div>
            </div>

            <div class="row height-30px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <a class="menu_link font-medium color-grey pointer" ui-sref="{{home.ROUTING.media.name}}">MEDIA</a>
                    </div>
                </div>
            </div>

            <div class="row height-30px" ng-if="home.user.isRedazione()">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <a class="menu_link font-medium color-grey pointer" ui-sref="{{home.ROUTING.edizioni.name}}">EDIZIONI</a>
                    </div>
                </div>
            </div>

            <div class="row height-30px" ng-if="home.user.isRedazione()">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <a class="menu_link font-medium color-grey pointer" ui-sref="{{home.ROUTING.canali.name}}">CANALI</a>
                    </div>
                </div>
            </div>

            <div class="row height-30px">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="padding-left-20px">
                        <a class="menu_link font-medium color-grey pointer" ui-sref="{{home.ROUTING.iscritti.name}}">ISCRITTI</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <ui-view id="container_view"></ui-view>
        </div>
    </div>
</div>